.game {
  display: flex;
}

.game__left-side {
  position: relative;

  width: 300px;
  margin-right: 50px;
}

.button--back {
  position: absolute;
  top: 35px;

  margin: 30px 0 60px;
}

.users {
  margin-top: 125px;

  list-style: none;
}

.user {
  margin-bottom: 20px;
}

.user__title {
  position: relative;

  padding-left: 30px;

  font-size: 15px;
}

.user__title:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  box-sizing: border-box;
  width: 12px;
  height: 12px;

  background: var(--red);
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.user--ready .user__title:before {
  background: var(--green);
}

.progress-bar__container {
  width: 300px;
  height: 30px;
  margin-top: 11px;

  border: 1px solid var(--border-color);
}

.progress-bar {
  width: 0%;
  height: 100%;

  background-color: var(--green);
}

.progress-bar--full {
  background-color: var(--bright-green);
}

.game__right-side {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 675px;
  height: 550px;

  border: 1px solid var(--border-color);
}

.countdown {
  font-size: 50px;
}

.timer {
  position: absolute;
  top: 10px;
  right: 20px;

  font-style: italic;
  font-size: 15px;
}

.text {
  width: 475px;

  line-height: 200%;
  text-align: center;
}

.text__correct {
  background: var(--green);
}

.text__correct--full {
  background: var(--bright-green);
}
